@import "../variables/variables.scss";

.sponsorship{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 6px 23px #A9A9A911;
    width: 100%;
    height: 167px;
    margin-top: 200px;
}
.sponsorship-title{
    color: $text-color;
    font-size: 35px;
    font-family: $secondary-font;
    h2{
        font-weight: 100;

    }

}
.sponsorship-img{

}