@import "../variables/variables.scss";
header{
    background-color: $white;
    box-shadow: 0px 3px 6px #8395A7;
}
nav{
    display: flex;
    align-items: center ;
    min-height: 69px;
    padding: 0 90px;
    @include media-down(md){
        justify-content: space-between;
    }
    @include media-down(sm){
        padding: 0 25px;
    }
    .cointainer-logo{
        display: flex;
        align-items: center;
        width: 30%;
        text-decoration: none;
        display: flex;
  
            .recipe{
                color: $text-color;
                margin: 0;
                font-family: $secondary-font;
                font-size: 40px;
            }
            .app{
                color: $red;
                margin: 0;
                font-size: 30px;
            }
    }
    .cointainer-nav-link{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 13px;
        letter-spacing: 0px;
        width: 70%;
        @include media-down(md){
            display: none;
        }
        li{
            list-style: none;
            a{
                color: $text-color;
                text-decoration: none;
            }
        }
    }
    .house-icon{
        display: none;
        @include media-down(md){
            display: block;
            font-size: 30px;
            color: $text-color;
        }
    }
}