@import "../variables/variables.scss";

.new-recipes{
  padding: 0 100px;
   @include media-down(md){
        padding: 0 30px
   }
    @include media-down(sm){
          padding: 0 10px ;
    }
}
.recipes-title{
    color: $red;
    h2{
    font-size: 67px;
        font-family: $secondary-font;
        font-weight: 100;
        @include media-down(md){
            font-size: 54px;
        }
        @include media-down(sm){
            text-align: center;
        }
    }

}
.slick-slide > div {
    margin: 0 5px;
  }
  .slick-slide {
    height: 400px;
    margin-top: 80px;
  }
.new-recipe-item{
    max-width: 272px;
    height: 270px;
    position: relative;
    @include box;
    @include media-down(md){
        width: 266px;
    }
    @include media-down(sm){
        min-width: 180px;
        height: 210px;
    }
    .recipe-info-back{
       opacity: 0;       
    }
}
.recipe-image{
    width:100%; 
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 60%;
    img{
        width: 164px;
        height: 158px;
        @include media-down(sm){
            width: 111px;
            height: 107px;
        }
    }
}
.recipe-info{
margin-top: 30%;
    @include media-down(sm){
        margin-top: 40%;
    }
}

.new-recipe-item:hover{
    height: 330px;
    transition: height 0.4s ease;
    .recipe-info{
       opacity: 0;
        transition: opacity 0.1s ease-in-out;
        transition-delay: 0.2s;
    }
    .recipe-image{
        bottom: 66%;
        transition: bottom 0.3s ease;
        @include media-down(sm){
            bottom: 75%;
        }
    }
    .recipe-info-back{
        display: block;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -63%;
        transition: opacity 0.5s ease-in-out;
        transition-delay: 0.2s;
        @include media-down(md){
            margin-top: -65%;
        }
        @include media-down(itm){
            margin-top: -70%;
        }
     
        .item-recipe-preparation{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px 0;
            @include media-down(sm){
                margin: 5px 0;
            }
            .recipe-preparation-title{
                font-size: 15px;
                color: $red;
                font-family: $secondary-font;
                margin: 3px 0;
            }
            .recipe-preparation-subtitle{
                font-size: 13px;
                color: $text-color;
                margin:0;
                font-weight: 100;

            }
        }

    }
}
.container-recipe-title{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
color: $red;

.title-name{
    font-size: 30px;
    font-weight: 100;
    margin-right: 5px;
    @include media-down(sm){
        font-size: 20px;
    }

}
.title-product{
    font-size: 30px;
    font-family: $secondary-font;
    font-weight: 100;
    @include media-down(sm){
        font-size: 20px;
    }
 }
}
.recipe-ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 26px;
    color: $text-color;
    @include media-down(sm){
        font-size: 17px;
    padding: 6px 9px;

    }
    .score{
        display: flex;
        align-items: center;
        p{
            margin-left: 10px;
            font-weight: 100;
        }
    }
    .like{


    }
}