@import "../variables/variables.scss";

.sponsorship{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent linear-gradient(180deg, #C2E3F3 0%, #6AA3C1 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 6px 23px #A9A9A911;
    width: 100%;
    height: 167px;
    margin-top: 200px;
    @include media-down(md){
        height: 116px;
    }
    @include media-down(sm){
        height: 70px;
        margin-top: 50px;
    }
}
.sponsorship-title{
    color: $text-color;
    font-family: $secondary-font;
    h2{
    font-size: 56px;

        font-weight: 100;
        @include media-down(md){
            font-size: 39px;
        }
        @include media-down(sm){
            font-size: 23px;
        }
    }
}
.sponsorship-img{
    img{

        @include media-down(md){
            width: 335px;
        }
        @include media-down(sm){
            width: 228px;
        }
    }
 

}