$white:#FFFFFF;
$light-blue:#C2E3F3;
$dark-blue:#6AA3C1;
$light-gray:#A9A9A911;
$gray:#8395A7;
$red:#D84A4A;
$text-color:#425966;

//fonts 
$principal-font: 'Poppins', sans-serif;
$secondary-font: 'Monster Clubhouse', sans-serif;

